<h1>Add a Tamagotchi</h1>
<form action="/tamagotchis" method="post">
    <label for="tama-name">Name your Tamagotchi:</label>
    <input id="tama-name" name="tama-name" type="text" required="required" placeholder="Pochi">
    <button type="submit">Add this Tamagotchi</button>
</form>
<h3><a href="/tamagotchis">Click here to go back to viewing your Tamagotchis</a></h3>
